<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Finger Gravity will disable page scrolling while icons are unhinged.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.gravitationprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Gravitation Enabled</string>
			<key>PostNotification</key>
			<string>me.kritanta.gravitation/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.gravitationprefs</string>
			<key>key</key>
			<string>fingerGravity</string>
			<key>label</key>
			<string>Finger Gravity</string>
			<key>PostNotification</key>
			<string>me.kritanta.gravitation/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHAKE YOUR DEVICE TO UNHINGE YOUR ICONS!</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>GravSourceLinkCell</string>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>GravDonationLinkCell</string>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>paypal.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Gravitation</string>
</dict>
</plist>
