Package: me.kritanta.gravitation
Name: Gravitation
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Shake your phone to unhinge your icons!
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
